database:
  host: localhost2
  port: 54322
  user: BooPT2
  password: BooPTPassword2
  db_name: BooPT2
ldap:
  addr: localhost:3892
  user: BooPT2
  password: BooPTPassword2
  base_dn: dc=boo,dc=com
s3:
  access_key: test
  secret_key: test
  bucket: boopt
  region: test
log_level: 3
jwt_salt: "salt2"
